@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

/* utilities */

.bg-green {
	background-color: #2ecc71;
}

.bg-grey {
	background-color: #f5f5f5;
	color: #34495e;
}

.bg-blue {
	background-color: #34495e;
}

.bg-red{
	background: #e74c3c;
	color: white;
}
<<<<<<< HEAD

.mg-1 {
	margin: 1% 0%;
}

.mb {
	margin-bottom: 70px;
}

/* end utilities */

=======
.mt-5{
	margin-top: 5%;
}
>>>>>>> d05addb6272edf37d57f44507dd91a05bbdeb496
body {
	color: #fff;
}

/* header */

.navbar-inverse {
	background-color: #34495e;
	padding: 1%;
}

.navbar-nav {
	margin: 10px;
}

.navbar-nav>li>a {
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
}

.active {
	background-color: #2c3e50;
}

/* hero-image */

.hero-image {
	background: url(../images/slider/bg1.jpg) center no-repeat;
	background-size: cover;
	height: 655px;
	margin: 6% 0 0;
	padding: 300px 0;
}

/* About Us */

.progress{
	color: white;
	text-align: center;
}
#about-us img{
	border-radius:100%;
}
.small{
	font-size: 10px;
	color: grey;
}

/* bg-green */

.bg-green {
	padding: 50px;
}

.bg-green.services {
	padding: 112px 0 50px;
}

.bg-green h2 {
	margin-bottom: 0;
}

.bg-green a, .bg-green a:hover {
	color: #fff;
	text-decoration: none;
}

.bg-green .icon {
	width: 68px;
	height: 68px;
	padding: 13px 15px;
	border-radius: 100%;
	display: block;
	background-color: rgba(0, 0, 0, 0.4);
}
<<<<<<< HEAD

.bg-green .icon-facebook {
	padding: 13px 25px;
}
=======
/* latest */
>>>>>>> d05addb6272edf37d57f44507dd91a05bbdeb496

.bg-green li {
	display: inline-block;
}
<<<<<<< HEAD

.bg-green li p {
	font-size: 0.9em;
	color: rgba(255, 255, 255, 0.7);
}

.bg-green li p span {
	margin: 2%;
=======
.pre-footer{
	font-size: 12px;
	line-height: 1.5;
}
.pre-footer img{
	padding-top: 10%;
	width: 150%;
}
#latest .caja{
	padding: 5%;
>>>>>>> d05addb6272edf37d57f44507dd91a05bbdeb496
}

/* latest */

.bg-grey {
	padding: 5%;
}

.bg-grey .btn {
	border-radius: 0;
	padding: 6px 10px;
}

.btn-left {
	border-top-left-radius: 4px !important;
	border-bottom-left-radius: 4px !important;
}

.btn-right {
	border-top-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
}

.item {
	width: 100%;
	background-color: #fff;
	padding: 7px 5px 1px;
}

.item h5 {
	font-weight: 700;
}

.bg-grey .col-xs-4, .bg-grey .col-sm-6 {
	margin: 4% 0%;
}

/* TESTIMONIAL */

#testimonial{
	padding: 5% 0;
}

#testimonial small {
	color: #fff;
}

/* CONTACT US */

.emerald{
	background: #2ecc71;
	padding: 7%;
}
.emerald ul{
	margin: 5% 4%;
	padding: 2%
}
.listas{
	padding-top: 3%;
	padding-bottom: 3%;
}

.latest-post img{
	width: 150%;
}
.form1{
	padding: 5%;
}
.form1 h4{
	color: #2c3e50;
	padding: 0%;
}
.maps{
	padding: 3%;
	margin: auto;
}
#basic-addon2{
	background: #d9534f;
	color: white;
	border-color: #d9534f; 
}
/* portfolio */
.item1{
	background: url('../images/portfolio/full/item1.jpg');
	height: 228px;
	background-size: 100%;
}

/* PRE-FOOTER */

#pre-footer, #pre-footer a {
	color: #bdc3c7;
}

#pre-footer h4 {
	color: #fff;
}

#pre-footer a:hover {
	text-decoration: none;
	cursor: pointer;
}

#pre-footer .row {
	margin-bottom: 10px;
}

/* FOOTER */

footer {
	padding: 3% 0;
	color: #999;
}

footer a {
	color: #999;
}

footer a:hover {
	text-decoration: none;
	color: #fff;
}

footer i {
	color: #fff;
}